<%- include("header"); -%>

<h1>This is a About page</h1>

<p>Don't waste time and attention figuring out arcane new syntax because 'elegance' — or how to preprocess your data so it will actually render right.</p>

<%- include("footer"); -%>
